body{
<<<<<<< Updated upstream
background-color:  #f4cb01;
}
=======
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  white;
    /* opacity: 80%; */
    }
    
    .container {
        display: flex;
        justify-content: center;
        flex: initial;
        flex-wrap: wrap;
        width: 300px;
        height: 100wh;
        border-radius: 10px;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        background-color: #0c1d1d ;
    
    }
>>>>>>> Stashed changes

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 300px;
    height: 100wh;
    background-color: black;


}

button {
    justify-content: center;
    width: 65px;
    height: 65px;
    font-size: large;
    font-weight: bold;
    color: black;
    background-color: #f4cb01;
    margin: 3px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.display-calc {
    width: 250px;
    height: 40px;
    margin: 20%;
    
<<<<<<< Updated upstream
}


.input{
    height: 60px;
    width: 250px;
    margin: 2px;

}

.operation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
.number {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
=======
    .operation{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
       
    }
    .number {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5px;
    }
>>>>>>> Stashed changes
